footer
	background: $bg-gray
	text-align: center

	.col
		display: inline-block
		width: 33%
		text-align: left
		vertical-align: top

		span
			height: 66px
			width: 66px
			display: block
			float: left
			margin-right: 19px

		.text
			color: #fff
			float: left
			line-height: 1.28rem
			opacity: 0.54

			p.margin
				margin-top: 16px

.map
	margin: -589px 0 589px
	width: 100%
	float: left
	height: 589px
	z-index: 0



