@import "compass/utilities/sprites"
@import "../img/icons/*.png"
@include all-icons-sprites

$light-blue: #1cb3e2
$dark-blue: #19a8f9
$green: #96ca2d


header
	background: url(../img/banner.png) center top no-repeat
	color: #fff
	height: 483px

	.logo
		display: block
		margin: 203px auto 146px

	h1
		font-size: 33.33px
		font-weight: 300
		text-align: center

nav
	color: #fff
	text-align: center

	a
		background: #3f454d
		display: block
		float: left
		height: 100px
		width: calc(100%/5)
		+transition(background 0.5s)
		font-size: 12px
		border-left: solid 1px #545961

		&:first-child
			border-left: 0

		&:hover
			border-bottom: solid 1px $green
			background: $dark-blue
			color: #000

		span
			display: block
			+transform(translateY(-50%))
			top: 50%


section#prime-logistics
	margin-bottom: 68px

	&::after
		background: url(../img/strategic_location.png) center no-repeat
		content: ""
		display: block
		float: left
		height: 407px
		width: 100%

	h2
		font-size: 44.78px
		text-align: center
		padding-top: 99px
		height: 228px
		display: block

		span
			display: block
			clear: both

			b
				font-weight: bold

			sup
				vertical-align: super
				font-size: smaller

	.banner
		width: 100%
		height: 465px
		background: url(../img/infrastructure.png) center no-repeat
		float: left
		display: block

		.ctrl
			width: 115px
			margin: auto
			position: absolute
			bottom: 18px
			left: 50%
			+transform(translateX(-50%))

			button
				display: inline-block
				background: rgba(255,255,255,0.25)
				height: 26px
				width: 26px
				border-radius: 100%
				+transition(background 0.5s)
					
				&:hover,
				&.active
					background: #00a6ca

				&:nth-child(2)
					margin: 0 18px

	.strategic_location
		width: 100%
		height: 524px
		float: left
		display: block
		background: url(../img/man_planning.png) center
		color: #fff

		h2
			text-align: center
			font-size: 49.56px
			font-weight: lighter

			b
				font-weight: bold

		p
			opacity: 0.54
			max-width: 924px
			margin: auto
			display: block
			text-align: justify
			font-size: 14px
			line-height: 25px


		.bg
			width: 100%
			height: 100%

	.photos
		float: left
		margin-top: -58px
		text-align: center
		width: 100%

		figure
			display: inline-block

			&::after
				content: ""
				display: block
				height: 58px
				left: 50%
				position: absolute
				width: 58px
				+transform(translateX(-50%))

			figcaption
				width: 120%
				margin: 0 auto 0 50%
				+transform(translateX(-50%))

				h3
					font-size: 37.39px
					margin: 60px auto 23px

				p
					font-size: 14px

					.br
						display: block

		.row_01 figure
			width: 236px

			&:nth-child(2)
				margin: 0 128px

			&::after
				background: url(../img/icons_sprite.png) 0 -285px no-repeat
				top: 207px

		.row_02 figure
			margin: 104px auto 91px
			width: 313px

			&:nth-child(2)
				margin: 0 8px

			&::after
				background: url(../img/icons_sprite.png) 0 -161px no-repeat
				top: 127px

section#project
	color: #fff
	background: #00587c
	text-align: center
	width: 100%

	h2
		font-size: 44px
		text-align: center
		margin: 91px auto 63px


	.cols
		display: inline-block

		.icon
			background-image: url(../img/icons_sprite.png)
			display: block
			margin: auto

		&:nth-child(2) .icon
			background-position: 0 -409px
			height: 76px
			margin-top: 17px
			width: 73px

		&:nth-child(3) .icon
			background-position: 0 0
			height: 95px
			width: 95px

		&:nth-child(4) .icon
			background-position: 0 -485px
			height: 78px
			margin-top: 20px
			width: 112px
	
	.col2
		margin: 0 128px
		
	figure
		figcaption
			margin: 24px auto 38px

		&::after
			content: ""
			display: block
			height: 58px
			position: absolute
			width: 58px
			top: 50%
			+transform(translatey(-50%))

	.description
		clear: both
		font-size: 14px
		line-height: 25px
		margin: 50px auto 0
		max-width: 972px
		opacity: 0.7
		text-align: justify


section#lotes
	h2
		width: 400px
		display: block

		span
			float: left
			display: block

		span:nth-child(1)
			font-size: 159px

		span:nth-child(2)

			span
				font-size: 44px