header
	background: url(../img/header_bg.png) center top no-repeat
	color: $white
	height: 477px

	&.fixed
		margin-bottom: 100px

	.logo
		display: block
		margin: 203px auto 120px

	h1
		font-size: 2.38rem
		text-align: center

nav
	color: $white
	text-align: center
	z-index: 3

	&.fixed
		position: fixed
		height: auto

		a
			height: 40px

	.button
		display: none

	a
		background: #3f454d
		border-left: solid 1px #545961
		display: block
		float: left
		font-size: 0.85rem
		height: 100px
		overflow: hidden
		+transition(height 1s, background 0.5s)
		width: 20%

		&:first-child
			border-left: 0

		&:hover
			background: $blue
			color: #000

		span
			display: block
			+transform(translateY(-50%))
			top: 50%
