@media only screen and (min-width: 960px) and (max-width: 1053px) 
	.wrap
		width: 960px

@media only screen and (min-width: 768px) and (max-width: 959px) 
	.wrap
		width: 768px

@media only screen and (min-width: 480px) and (max-width: 767px) 
	.wrap
		width: 480px

@media only screen and (max-width: 479px) 
	.wrap
		width: 100%

	header 
		padding: 40px 10px
		height: auto
		
		.logo
			width: 80%
			margin: 0 auto 40px
	
	section#prime-logistics 
		h2
			padding: 40px 0
			height: auto
			
			.br
				display: none

	section#prime-logistics 
		.photos .row_01 figure,
		.photos .row_01 figure:nth-child(2) 
			margin: 0 auto 40px

	section#prime-logistics .strategic_location p
		padding: 0 10px

	section#project 
		.col2
			margin: 0 auto 40px

		.description
			padding: 0 20px

	section#video iframe
		width: 100%
		min-height: 269px