section#allotments
	.wrap
		h2.title
			span.higher 32
			span.higher
				span.lower LOTES 
				span.lower PLANOS

		a(role="button")
			span.icons-paper
			span.text.v-centered Clique para visualizar a listagem e metragem dos lotes.

		.row
			figure
				img(src="assets/img/allotments_photo_01.png", width="311", height="228")

			figure
				img(src="assets/img/allotments_photo_02.png", width="311", height="228")
								
			figure
				img(src="assets/img/allotments_photo_03.png", width="311", height="228")

			.textbox
				p DeltaLog é um condomínio industrial localizado as margens da SP75 (Rodovia Santos Dumont). Com logística privilegiada o DeltaLog oferece lotes a partir de 1000m2, planos pronto para construir. Toda a infraestrutura como ruas, esgoto e asfato já estão concluídos. DeltaLog é ideal para empresas de pequeno e médio porte que se preocupam com segurança, logística e atendimento. Está localizado na cidade de Salto/SP, entre as cidades de Itu e Indaituba e a poucos quilômetros de Campinas e Sorocaba.

				p 
					b O condomínio DeltaLog já possuí três projetos de galpão aprovados para construção, 
					| agilizando ainda mais o processo de implantação.

		h2.subtitle
			span.bold MAPA 
			| CONDOMÍNIO

		a(role="button")
			span.icons-paper
			span.text.v-centered Clique para visualizar a listagem e metragem dos lotes.