section#contact
	.wrap
		img(src="assets/img/logo.svg", width="266", height="37").logo
		
		//- form(action="inc/send-contact.php", method="post")
		form(onsubmit="validate_form(); return false")
			.col1
				div
					input(type="text", id="name", name="name").text
					label(for="name") Nome

				div
					input(type="email", id="email", name="email").text
					label(for="email") Email

				div
					input(type="tel", id="phone", name="phone").text
					label(for="phone") Telefone


			.col2
				div
					textarea(id="msg", name="msg").text
					label(for="msg") Mensagem

				div
					button.submit enviar
