footer
	.wrap
		.col
			span.icon-location
			.text
				p.bold DeltaLog Investimentos Imobiliários
				p Rua Batalha do Tuiuti, s/nº
				p Bairro Lageado
				p Complemento: Km 42,2 / SP 75

		.col
			span.icon-mail
			.text
				p.bold Imobiliária Mais Consultoria
				a(href='mailto:vanderson@maisconsultoria.imb.br') vanderson@maisconsultoria.imb.br
				a(href='tel:1187871111') 11.8787.1111 - Corretor Vanderson

		.col
			span.icon-phone
			.text
				p.bold Imobiliária Matriz
				a(href='mailto:atendimento@imobiliariasalto.com.br') atendimento@imobiliariasalto.com.br
				a(href='tel:1187872222') 11.8787.2222 - Corretor Luiz

button.icon-top_arrow

.map#map-canvas