footer
	.wrap
		.col
			span.icon-location
			.text
				p.bold DeltaLog Investimentos Imobiliários
				p Rua Batalha do Tuiuti, s/nº
				p Bairro Lageado
				p Complemento: Km 42,2 / SP 75

		.col
			span.icon-mail
			.text
				p Vendas / Informações:
				p.bold.margin Imobiliária Mais Consultoria
				p vanderson@maisconsultoria.imb.br
				p.bold.margin Imobiliária Salto
				p atendimento@imobiliariasalto.com.br


		.col
			span.icon-phone
			.text
				p Contato vendas/Informações:
				p.bold.margin Imobiliária Mais Consultoria
				p 11.8787.1111 - Corretor Vanderson
				p.bold.margin Imobiliária Salto
				p 11.8787.2222 - Corretor Luiz
				
//- iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1833.6879581228386!2d-47.31234857605897!3d-23.19296711407919!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1439322190283", frameborder="0", style="border:0", allowfullscreen).map
.map#map-canvas