footer
	.wrap
		
		.real_estate.matriz
			img(src='assets/img/imobiliaria_matriz.png')

			.text
				a(href='tel:1140280398') 11.4028.0398 - Corretores Antonio/Angelo
				a(href='mailto:imobmatriz@terra.com.br') E-mail: imobmatriz@terra.com.br


		.real_estate.mais
			img(src='assets/img/imobiliaria_mais.png')
			
			.text
				a(href='tel:1187871111') 11.8787.1111 - Corretor Vanderson
				a(href='mailto:vanderson@maisconsultoria.imb.br') vanderson@maisconsultoria.imb.br

		.location
			p.title LOCALIZAÇÃO

			span.icon-location

			.text
				p.bold DeltaLog Investimentos Imobiliários
				p Rua Batalha do Tuiuti, s/nª - Bairro Lageado
				p Complemento: Km 42,2 / SP 75

		.footnote
			p 
				b Licença de instalação de Loteamento: 
				| CETESB  nº 36000028 de 13/05/2013 - 
				b Inscrição imobiliária 
				|nº 01.09.011.0010.001. 
				b Matrícula: 
				| 47.262

			p
				b Registrado no cartório de imóveis de Salto: 
				| Prenotação sob nº 87.815  de 25/01/2012

.map#map-canvas
	
button.icon-top_arrow