header
	.wrap
		img(src="assets/img/logo.svg", width="545", height="76").logo
		h1 CONDOMÍNIO INDUSTRIAL COM 
			b LOGISTICA ESTRATÉGICA

nav
	.wrap
		a(data-section="#prime-logistics")
			span LOGÍSTICA PRIVILEGIADA
		
		a(data-section="#project")
			span PROJETO
		
		a(data-section="#allotments")
			span LOTES
		
		a(data-section="#video")
			span VIDEO APRESENTAÇÃO
		
		a(data-section="#contact")
			span CONTATO/VENDAS

		span.button 
			span.stripe
			span.stripe
			span.stripe