header
	.wrap
		img(src="assets/img/logo.svg", width="416", height="58").logo
		h1 CONDOMÍNIO INDUSTRIAL COM LOGISTICA ESTRATÉGICA

nav
	.wrap
		a(data-page="#prime-logistics")
			span LOGÍSTICA PRIVILEGIADA
		
		a(data-page="#project")
			span PROJETO
		
		a(data-page="#allotments")
			span LOTES
		
		a(data-page="#video")
			span VIDEO APRESENTAÇÃO
		
		a(data-page="#contact")
			span CONTATO/VENDAS

		span.button 
			span.stripe
			span.stripe
			span.stripe