include ./header.jade
include ./prime-logistics.jade
include ./strategic-location.jade
include ./project.jade
include ./allotments.jade
include ./video.jade
include ./contact.jade
include ./footer.jade
include ./modal.jade