header
	.wrap
		img(src="assets/img/logo.svg", width="416", height="58").logo
		h1 CONDOMÍNIO INDUSTRIAL COM LOGISTICA ESTRATÉGICA

nav
	.wrap
		a(href="#")
			span LOGÍSTICA PRIVILEGIADA
		
		a(href="#")
			span PROJETO
		
		a(href="#")
			span LOTES
		
		a(href="#")
			span VIDEO APRESENTAÇÃO
		
		a(href="#")
			span CONTATO/VENDAS

section#prime-logistics
	h2 INFRA-ESTRUTURA COMPLETA 
		span.br 
		| LOTES INDUSTRIAIS A PARTIR DE 
		b 1000m
			sup 2

	.banner
		.ctrl
			button.active
			button
			button

	.strategic_location
		h2 LOCALIZAÇÃO 
			b ESTRATÉGICA

		p DeltaLog é um condomínio Industrial planejado para oferecer uma logística extremamente eficiente. Localizado as margens da Rodovia SP75, o condomínio permite acesso simples e rápido as principais rodovia do pais, como Castelo Branco, Bandeirantes e Anhanguera. Além de transporte rodoviário, DeltaLog está próximo ao Aeroporto Internacional de ViraCopos, e apenas 2 horas de um dos principais portos do pais. <span class="br"></span>Clique abaixo para visualizar mais detalhes sobre distâncias de cidades, aeroportos e portos. 

	.photos
		.row_01
			figure
				img(src="assets/img/prime_logistics_photo_01.png", width="236", height="236")
				figcaption
					h3 CIDADES
					p DeltaLog está próximo a <span class="br"></span>grandes centros urbanos.<span class="br"></span>Clique no ícone acima.

			figure
				img(src="assets/img/prime_logistics_photo_02.png", width="236", height="236")
				figcaption
					h3 PORTOS
					p DeltaLog está localizado a poucas horas <span class="br"></span>de um dos principais portos do pais.<span class="br"></span>Clique no ícone acima.

			figure
				img(src="assets/img/prime_logistics_photo_03.png", width="236", height="236")
				figcaption
					h3 AEROPORTOS
					p DeltaLog está localizado apenas alguns <span class="br"></span>minutos do aeroporto internacional.<span class="br"></span>Clique no ícone acima.


		.row_02
			figure
				img(src="assets/img/prime_logistics_photo_04.png", width="313", height="155")
				figcaption Acesso SP75 - Sorocaba e São Paulo via Castelo Branco
					

			figure
				img(src="assets/img/prime_logistics_photo_05.png", width="313", height="155")
				figcaption Acesso SP75 - Campinas e São Paulo via Bandeirantes
					

			figure
				img(src="assets/img/prime_logistics_photo_06.png", width="313", height="155")
				figcaption Acesso ao deltaLog pelos dois sentidos Campinas e Sorocaba
	
	
section#project
	h2 PROJETO DELTALOG
	
	.cols.col1
		span.icon
		figure
			figcaption SEGURANÇA 24H
			img(src="assets/img/prime_logistics_photo_03.png", width="236", height="236")
	
	.cols.col2
		span.icon
		figure
			figcaption ALIMENTAÇÃO/NEGÓCIOS
			img(src="assets/img/prime_logistics_photo_03.png", width="236", height="236")

	.cols.col3
		span.icon
		figure
			figcaption MOBILIDADE
			img(src="assets/img/prime_logistics_photo_03.png", width="236", height="236")


	.description
		p DeltaLog é um condomínio industrial composto por 32 lotes com metragem a partir de 1000m2. Porém o que mais chama a atenção no projeto além da logística privilegiada, são os diferenciais. DeltaLog é um condomínio fechado com portaria e vigilância 24 horas. Toda a entrada ou saída de veículos é monitorado, proporcionando segurança total. DeltaLog conta ainda com um espaço moderno de alimentação onde será instalado um restaurante para servir refeições à colaboradores e empresários. No mesmo prédio serão construídas salas de reuniões, para que as empresas possam atender clientes e fornecedores com tranquilidade e conforto. 
		p Mobilidade, a rua principal do condomínio foi planejada para facilitar a manobra de carga e descarga por caminhões.


section#lotes
	h2 
		span.alto 32
		span.alto
			span LOTES 
			span PLANOS


