.modal.background

.modal.form(data-displayed='false')
	.title 
		p Para receber mais informações sobre o empreendimento Deltalog, por favor preencha as informações abaixo.
	
	.shake_title
		p Obrigado por visitar o site do condomínio Deltalog. 
		p Caso tenha interesse em receber mais informações sobre o empreendimento sem compromisso, por favor preencha as informações abaixo.

	//- img(src='assets/img/logo.svg', width='50%').logo

	form(data-form='#modal_form', onsubmit='send_form(this); egoi(this);  return false')#modal_form
		div
			input(type='text', id='name2', name='name', required).text.name
			label(for='name2') Nome

		div
			input(type='email', id='email2', name='email', data-form='#modal_form', required).text.email
			label(for='email2') Email

		div
			input(type='tel', id='phone2', name='phone', required).text.phone
			label(for='phone2') Telefone

		div
			textarea(id='msg2', name='msg', required).text.msg
			label(for='msg2') Mensagem

		div
			button.submit enviar

.modal.banner
	figure
		.ctrl.icon-left_arrow
		.ctrl.icon-right_arrow
		img
		figcaption


.modal.table
	ul.cities
		li.title DISTÂNCIAS DE CIDADES

		li
			span Campinas									
			| 29km
		li
			span Sorocaba									
			| 41km
		li
			span Jundiaí										
			| 60km
		li
			span Piracicaba									
			| 99km
		li
			span São Paulo									
			| 105km
		li
			span Santos										
			| 188km


	ul.highways
		li.title DISTÂNCIA DE RODOVIAS

		li 
			span Rod. dos Bandeirantes (Campinas)			
			| 35km
		li 
			span Rod. Castelo Branco (Sorocaba)			
			| 26km
		li 
			span Rod. Anhanguera (Campinas)				
			| 45km
		li 
			span Rodoanel									
			| 100km
		li 
			span Marginal Tietê							
			| 102km
		li 
			span Marginal Pinheiros						
			| 109km

	ul.airports
		li.title  DISTÂNCIA DE PORTOS E AEROPORTOS

		li
			span Viracopos (Campinas)						
			| 27km
		li
			span Congonhas (São Paulo)						
			| 109km
		li
			span Guarulhos									
			| 126km
		li
			span Porto de Santos								
			| 192Km
