.modal.background

.modal.form(data-displayed='false')
	.title 
		p.bold A Deltalog liga pra você
		p Preencha as informações abaixo e nosso consultor entrará em contato
	
	.shake_title
		p.bold Só um minuto
		p Gostaria de receber mais informações sem compromisso? Preencha as informações abaixo e nosso consultor entrará em contato

	//- img(src='assets/img/logo.svg', width='50%').logo

	form(data-form='#modal_form', onsubmit='send_form(this); egoi(this);  return false')#modal_form
		div
			input(type='text', id='name2', name='name', required).text.name
			label(for='name2') Nome

		div
			input(type='email', id='email2', name='email', data-form='#modal_form', required).text.email
			label(for='email2') Email

		div
			input(type='tel', id='phone2', name='phone', required).text.phone
			label(for='phone2') Telefone

		div
			textarea(id='msg2', name='msg', required).text.msg
			label(for='msg2') Mensagem

		div
			button.submit enviar

.modal.banner
	figure
		.ctrl.icon-left_arrow
		.ctrl.icon-right_arrow
		img
		figcaption


.modal.table
	ul.cities
		li.title DISTÂNCIAS DE CIDADES

		li
			span.text Campinas
			span.value 29km
		li
			span.text Sorocaba
			span.value 41km
		li
			span.text Jundiaí
			span.value 60km
		li
			span.text Piracicaba
			span.value 99km
		li
			span.text São Paulo
			span.value 105km
		li
			span.text Santos
			span.value 188km


	ul.highways
		li.title DISTÂNCIA DE RODOVIAS

		li 
			span.text Rod. dos Bandeirantes (Campinas)
			span.value 35km
		li 
			span.text Rod. Castelo Branco (Sorocaba)
			span.value 26km
		li 
			span.text Rod. Anhanguera (Campinas)
			span.value 45km
		li 
			span.text Rodoanel
			span.value 100km
		li 
			span.text Marginal Tietê
			span.value 102km
		li 
			span.text Marginal Pinheiros
			span.value 109km

	ul.airports
		li.title  DISTÂNCIA DE PORTOS E AEROPORTOS

		li
			span.text Viracopos (Campinas)
			span.value 27km
		li
			span.text Congonhas (São Paulo)
			span.value 109km
		li
			span.text Guarulhos
			span.value 126km
		li
			span.text Porto de Santos
			span.value 192Km
