section#prime-logistics
	h2.title INFRAESTRUTURA COMPLETA 
		span.br 
		| LOTES INDUSTRIAIS A PARTIR DE 
		b 1000m
			sup 2

	.banner(data-number="1")

		.caption 
			p Perspectiva Ilustrativa dos Galpões

		.ctrl
			button.icon-left_arrow
			button.icon-right_arrow

		.thumbs
			button(data-number="1", data-caption="Perspectiva Ilustrativa dos Galpões")#thumb01.active
			button(data-number="2", data-caption="Perspectiva Ilustrativa da Portaria")#thumb02
			button(data-number="3", data-caption="Perspectiva Ilustrativa do Refeitório")#thumb03




