section#project
	.wrap
		h2 PROJETO DELTALOG
		
		.cols.col1
			span.icon
			figure
				figcaption SEGURANÇA <span class="br"></span>24H
				img(src="assets/img/project_photo_01.png", width="236", height="236")
				span(data-image="infrastructure-01.jpg", data-number="1", data-group="infrastructure").icon-magnify
		
		.cols.col2
			span.icon
			figure
				figcaption ALIMENTAÇÃO<span class="br">/</span>NEGÓCIOS
				img(src="assets/img/project_photo_02.png", width="236", height="236")
				span(data-image="infrastructure-02.jpg", data-number="2", data-group="infrastructure").icon-magnify

		.cols.col3
			span.icon
			figure
				figcaption MOBILIDADE
				img(src="assets/img/project_photo_03.png", width="236", height="236")
				span(data-image="infrastructure-03.jpg", data-number="3", data-group="infrastructure").icon-magnify


		.description
			p DeltaLog é um condomínio industrial composto por 32 lotes com metragem a partir de 1000m2. Porém o que mais chama a atenção no projeto além da logística privilegiada, são os diferenciais. DeltaLog é um condomínio fechado com portaria e 
				b vigilância 24 horas. 
				| Toda a entrada ou saída de veículos é monitorado, proporcionando segurança total. DeltaLog conta ainda com um espaço moderno de alimentação onde será instalado um 
				b restaurante para servir refeições à colaboradores e empresários. 
				| No mesmo prédio serão construídas salas de reuniões, para que as empresas possam atender clientes e fornecedores com tranquilidade e conforto.
			
			p Mobilidade, a rua principal do condomínio foi planejada para 
				b facilitar a manobra de carga e descarga por caminhões.


