section#strategic-location
	.text
		.wrap
			h2 LOCALIZAÇÃO 
				b ESTRATÉGICA

			p DeltaLog é um condomínio Industrial planejado para oferecer uma logística extremamente eficiente. Localizado as margens da Rodovia SP75, o condomínio permite acesso simples e rápido as principais rodovia do pais, como Castelo Branco, Bandeirantes e Anhanguera. Além de transporte rodoviário, DeltaLog está próximo ao Aeroporto Internacional de ViraCopos, e apenas 2 horas de um dos principais portos do pais. <span class="br"></span>Clique abaixo para visualizar mais detalhes sobre distâncias de cidades, aeroportos e portos. 

	.photos
		.row_01.wrap
			figure(data-table="ul.cities")
				span.icons.icon-paper
				img(src="assets/img/prime_logistics_photo_01.png", data-group="logistics")
				
				figcaption
					span.title
						h3 CIDADES
					p DeltaLog está próximo a grandes centros urbanos.
						span.br
						b Clique no ícone acima.

			figure(data-table="ul.highways")
				span.icons.icon-paper
				img(src="assets/img/prime_logistics_photo_02.png", data-group="logistics")
				
				figcaption
					span.title
						h3 RODOVIAS
					p Fácil acesso as principais rodovias do país.
						span.br
						b Clique no ícone acima.

			figure(data-table="ul.airports")
				span.icons.icon-paper
				img(src="assets/img/prime_logistics_photo_03.png", data-group="logistics")
				
				figcaption
					span.title
						h3 OUTROS
					p Próximo a aeroportos e ao principal porto do estado. 
						span.br
						b Clique no ícone acima.



		.row_02.wrap
			figure(data-section="#strategic-location", data-image="highway-01.jpg", data-number="1", data-group="highway", data-caption="Fácil Acesso a SP75 - Sorocaba e São Paulo via Castelo Branco").figure1
				.img
					span.icons.icon-magnify
					img(src="assets/img/prime_logistics_photo_04.png")

				figcaption Fácil Acesso a SP75 - Sorocaba e 
					span.br
					| São Paulo via Castelo Branco
					

			figure(data-section="#strategic-location", data-image="highway-02.jpg", data-number="2", data-group="highway", data-caption="Fácil Acesso a SP75 - Campinas e São Paulo via Bandeirantes").figure2
				.img
					span.icons.icon-magnify
					img(src="assets/img/prime_logistics_photo_05.png")

				figcaption Fácil Acesso a SP75 - Campinas e 
					span.br
					| São Paulo via Bandeirantes
					

			figure(data-section="#strategic-location", data-image="highway-03.jpg", data-number="3", data-group="highway", data-caption="Fácil Acesso ao DeltaLog pelos dois sentidos Campinas e Sorocaba").figure3
				.img
					span.icons.icon-magnify
					img(src="assets/img/prime_logistics_photo_06.png")

				figcaption Fácil Acesso ao DeltaLog pelos dois 
					span.br
					| sentidos Campinas e Sorocaba
