section#video
	.wrap
		p
			span.bold Lotes planos prontos para construir. 
			| Investimento em segurança, logistica e atendimento.
		
		img(src="assets/img/logo.svg", width="266", height="37").logo

		//- iframe(src="https://www.youtube.com/embed/F4HLrIHdldA", frameborder="0", allowfullscreen).video

		video.video(autoplay, poster="assets/img/poster.png")
			source(src="assets/img/video.mp4")
